* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Montserrat', sans-serif;
}

.ellipse {
    width: 40%;
}

.main-about {
    max-width: 50%;
}